In [1]:
from os import PathLike
from hdfs import InsecureClient
from pyspark.sql import SparkSession
from pyspark.sql import Row
from delta import *
from pyspark.sql.types import LongType, StringType, StructField, StructType, BooleanType, ArrayType, IntegerType
from pyspark.sql.functions import substring, avg, sum
import pyspark.sql.functions as f

In [2]:
#CONFIGURAR O SPARK
warehouse_location = 'hdfs://hdfs-nn:9000/demo/'

builder = SparkSession \
    .builder \
    .appName("Python Spark") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:1.0.0") \
    .enableHiveSupport() \

spark = spark = configure_spark_with_delta_pip(builder).getOrCreate()

Warning: Ignoring non-Spark config property: hive.metastore.uris
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release

:: loading settings :: url = jar:file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/ivy-2.4.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/jovyan/.ivy2/cache
The jars for the packages stored in: /home/jovyan/.ivy2/jars
io.delta#delta-core_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-9ca8ade4-c61e-4318-a9cf-803a6d4828f0;1.0
	confs: [default]
	found io.delta#delta-core_2.12;1.0.0 in central
	found org.antlr#antlr4;4.7 in central
	found org.antlr#antlr4-runtime;4.7 in central
	found org.antlr#antlr-runtime;3.5.2 in central
	found org.antlr#ST4;4.0.8 in central
	found org.abego.treelayout#org.abego.treelayout.core;1.0.3 in central
	found org.glassfish#javax.json;1.0.4 in central
	found com.ibm.icu#icu4j;58.2 in central
:: resolution report :: resolve 399ms :: artifacts dl 9ms
	:: modules in use:
	com.ibm.icu#icu4j;58.2 from central in [default]
	io.delta#delta-core_2.12;1.0.0 from central in [default]
	org.abego.treelayout#org.abego.treelayout.core;1.0.3 from central in [default]
	org.antlr#ST4;4.0.8 from central in [default]
	org.antlr#antlr-runtime;3.5.2 from central in [default]
	org.antlr#antlr4;4.7 from central in [default]
	org.antlr#antlr4-runtime;4.7 from central in [default]
	org.glassfish#javax.json;1.0.4 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   8   |   0   |   0   |   0   ||   8   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-9ca8ade4-c61e-4318-a9cf-803a6d4828f0
	confs: [default]
	0 artifacts copied, 8 already retrieved (0kB/14ms)
22/01/16 17:52:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
premier = spark.read.format("delta").load("hdfs://hdfs-nn:9000/demo/silver/premier_league.db/deltalake_table/")

In [4]:
spark.sql(
    """
    DROP DATABASE UC1_gl CASCADE
    """
)

ANTLR Tool version 4.7 used for code generation does not match the current runtime version 4.8ANTLR Tool version 4.7 used for code generation does not match the current runtime version 4.8

DataFrame[]

In [6]:
#CREATE GOLD DATABASE
spark.sql(
    """
    CREATE DATABASE IF NOT EXISTS UC1_gl LOCATION 'hdfs://hdfs-nn:9000/demo/gold/UC1_gl.db/'
    """
)

#DROP TABLE
spark.sql(
    """
    DROP TABLE IF EXISTS UC1_gl.premier
    """
)

spark.sql(
"""
CREATE EXTERNAL TABLE UC1_gl.premier (
    Div CHAR(10),
    Date CHAR(50),
    HomeTeam CHAR(100),
    AwayTeam CHAR(100),
    Referee CHAR(100),
    FullTimeH_Goals INT,
    FullTimeH_Goals_Avg DOUBLE,
    FullTimeA_Goals INT,
    FullTimeA_Goals_Avg DOUBLE,
    HomeFouls INT,
    HomeFouls_Avg DOUBLE,
    AwayFouls INT,
    AwayFouls_Avg DOUBLE,
    HomeYellowC INT,
    HomeYellowC_Avg DOUBLE,
    AwayYellowC INT,
    AwayYellowC_Avg DOUBLE,
    HomeRedC INT,
    HomeRedC_Avg DOUBLE,
    AwayRedC INT,
    AwayRedC_Avg DOUBLE
    )
    USING DELTA
    LOCATION 'hdfs://hdfs-nn:9000/demo/gold/UC1_gl.db/premier/'
    """
)

AnalysisException: The specified schema does not match the existing schema at hdfs://hdfs-nn:9000/demo/gold/UC1_gl.db/premier.

== Specified ==
root
-- Div: char(10) (nullable = true)
-- Date: char(50) (nullable = true)
-- HomeTeam: char(100) (nullable = true)
-- AwayTeam: char(100) (nullable = true)
-- Referee: char(100) (nullable = true)
-- FullTimeH_Goals: integer (nullable = true)
-- FullTimeH_Goals_Avg: double (nullable = true)
-- FullTimeA_Goals: integer (nullable = true)
-- FullTimeA_Goals_Avg: double (nullable = true)
-- HomeFouls: integer (nullable = true)
-- HomeFouls_Avg: double (nullable = true)
-- AwayFouls: integer (nullable = true)
-- AwayFouls_Avg: double (nullable = true)
-- HomeYellowC: integer (nullable = true)
-- HomeYellowC_Avg: double (nullable = true)
-- AwayYellowC: integer (nullable = true)
-- AwayYellowC_Avg: double (nullable = true)
-- HomeRedC: integer (nullable = true)
-- HomeRedC_Avg: double (nullable = true)
-- AwayRedC: integer (nullable = true)
-- AwayRedC_Avg: double (nullable = true)


== Existing ==
root
-- Div: string (nullable = true)
-- Date: string (nullable = true)
-- HomeTeam: string (nullable = true)
-- AwayTeam: string (nullable = true)
-- Referee: string (nullable = true)
-- FullTimeH_Goals: integer (nullable = true)
-- FullTimeH_Goals_Avg: double (nullable = true)
-- FullTimeA_Goals: integer (nullable = true)
-- FullTimeA_Goals_Avg: double (nullable = true)
-- HomeFouls: integer (nullable = true)
-- HomeFouls_Avg: double (nullable = true)
-- AwayFouls: integer (nullable = true)
-- AwayFouls_Avg: double (nullable = true)
-- HomeYellowC: integer (nullable = true)
-- HomeYellowC_Avg: double (nullable = true)
-- AwayYellowC: integer (nullable = true)
-- AwayYellowC_Avg: double (nullable = true)
-- HomeRedC: integer (nullable = true)
-- HomeRedC_Avg: double (nullable = true)
-- AwayRedC: integer (nullable = true)
-- AwayRedC_Avg: double (nullable = true)


== Differences==
- Specified type for HomeTeam is different from existing schema:
  Specified: char(100)
  Existing:  string
- Specified type for AwayTeam is different from existing schema:
  Specified: char(100)
  Existing:  string
- Specified metadata for field AwayTeam is different from existing schema:
  Specified: {}
  Existing:  {"__CHAR_VARCHAR_TYPE_STRING":"char(100)"}
- Specified metadata for field Div is different from existing schema:
  Specified: {}
  Existing:  {"__CHAR_VARCHAR_TYPE_STRING":"char(10)"}
- Specified metadata for field Referee is different from existing schema:
  Specified: {}
  Existing:  {"__CHAR_VARCHAR_TYPE_STRING":"char(100)"}
- Specified metadata for field Date is different from existing schema:
  Specified: {}
  Existing:  {"__CHAR_VARCHAR_TYPE_STRING":"char(50)"}
- Specified metadata for field HomeTeam is different from existing schema:
  Specified: {}
  Existing:  {"__CHAR_VARCHAR_TYPE_STRING":"char(100)"}
- Specified type for Referee is different from existing schema:
  Specified: char(100)
  Existing:  string
- Specified type for Div is different from existing schema:
  Specified: char(10)
  Existing:  string
- Specified type for Date is different from existing schema:
  Specified: char(50)
  Existing:  string

If your intention is to keep the existing schema, you can omit the
schema from the create table command. Otherwise please ensure that
the schema matches.

In [7]:
from pyspark.sql.functions import substring, avg, sum
from pyspark.sql.functions import col, concat_ws, concat, lit, desc, asc

#JOIN THE TABLES
flat_premier_df = premier \
    .withColumn("Date", concat(lit("20"), substring(col("Date"), 7, 8))) \
    .withColumnRenamed("FTHG","FullTimeH_Goals") \
    .withColumnRenamed("FTAG","FullTimeA_Goals") \
    .withColumnRenamed("HF","HomeFouls") \
    .withColumnRenamed("AF","AwayFouls") \
    .withColumnRenamed("HY","HomeYellowC") \
    .withColumnRenamed("AY","AwayYellowC") \
    .withColumnRenamed("HR","HomeRedC") \
    .withColumnRenamed("AR","AwayRedC") \
    .select("Div","Date", "HomeTeam","AwayTeam","Referee","FullTimeH_Goals","FullTimeA_Goals","HomeFouls","AwayFouls","HomeYellowC","AwayYellowC","HomeRedC","AwayRedC") 

#AGGREGATE DATA
premier_df = flat_premier_df \
    .orderBy(asc("Date")) \
    .groupBy("Div", "Date", "HomeTeam", "AwayTeam", "Referee","FullTimeH_Goals","FullTimeA_Goals","HomeFouls","AwayFouls","HomeYellowC","AwayYellowC","HomeRedC","AwayRedC") \
    .agg(
        avg(flat_premier_df.FullTimeH_Goals).alias("FullTimeH_Goals_Avg"),
        avg(flat_premier_df.FullTimeA_Goals).alias("FullTimeA_Goals_Avg"),
        avg(flat_premier_df.HomeFouls).alias("HomeFouls_Avg"),
        avg(flat_premier_df.AwayFouls).alias("AwayFouls_Avg"),
        avg(flat_premier_df.HomeYellowC).alias("HomeYellowC_Avg"),
        avg(flat_premier_df.AwayYellowC).alias("AwayYellowC_Avg"),
        avg(flat_premier_df.HomeRedC).alias("HomeRedC_Avg"),
        avg(flat_premier_df.AwayRedC).alias("AwayRedC_Avg"),
    )

#WRITE TO DELTA TABLE
premier_df \
    .write \
    .format("delta") \
    .mode("overwrite") \
    .save("hdfs://hdfs-nn:9000/demo/gold/UC1_gl.db/premier/")



#CHECK RESULTS
spark.table("UC1_gl.premier").count()

22/01/16 17:53:28 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
22/01/16 17:53:38 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:39 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:39 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:40 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:40 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:40 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:40 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:40 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:41 WARN DataStreamer: Caught exception            (44 + 8) / 200]
java.lang.InterruptedException
	at java.base/java.lang.Object.wait(Native Method)
	at java.base/java.lang.Thread.join(Thread.java:1300)
	at java.base/java.lang.Thread.join(Thread.java:1375)
	at org.apache.hadoop.hdfs.DataStreamer.closeResponder(DataStreamer.java:986)
	at org.apache.hadoop.hdfs.DataStreamer.endBlock(DataStreamer.java:640)
	at org.apache.hadoop.hdfs.DataStreamer.run(DataStreamer.java:810)
22/01/16 17:53:41 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:41 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:41 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:41 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:41 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:41 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:42 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:42 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:42 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:42 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:42 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:42 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:42 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:42 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:42 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:42 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:42 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:42 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:43 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:43 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:43 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:43 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:43 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:43 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:43 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:43 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:44 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:44 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:44 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:44 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:44 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:53:46 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

AnalysisException: Table or view not found: UC1_gl.premier;
'UnresolvedRelation [UC1_gl, premier], [], false

In [8]:
premier_df.orderBy(asc("Date")).toPandas()

,Div,Date,HomeTeam,AwayTeam,Referee,FullTimeH_Goals,FullTimeA_Goals,HomeFouls,AwayFouls,HomeYellowC,...,HomeRedC,AwayRedC,FullTimeH_Goals_Avg,FullTimeA_Goals_Avg,HomeFouls_Avg,AwayFouls_Avg,HomeYellowC_Avg,AwayYellowC_Avg,HomeRedC_Avg,AwayRedC_Avg
0,Premier League,2009,Arsenal,Wigan Athletic,Mike Jones,4,0.0,6,18,2,...,0,0.0,4.0,0.0,6.0,18.0,2.0,2.0,0.0,0.0
1,Premier League,2009,Everton,Arsenal,Mark Halsey,1,6.0,11,13,0,...,0,0.0,1.0,6.0,11.0,13.0,0.0,0.0,0.0,0.0
2,Premier League,2009,Arsenal,Birmingham,Lee Probert,3,1.0,8,16,1,...,0,0.0,3.0,1.0,8.0,16.0,1.0,2.0,0.0,0.0
3,Premier League,2009,Chelsea,Portsmouth,Mark Clattenburg,2,1.0,11,11,0,...,0,0.0,2.0,1.0,11.0,11.0,0.0,0.0,0.0,0.0
4,Premier League,2009,Stoke City,Wigan Athletic,Mike Dean,2,2.0,19,8,5,...,0,0.0,2.0,2.0,19.0,8.0,5.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3795,Premier League,2019,West Ham,Leicester,Lee Probert,2,2.0,8,9,2,...,0,0.0,2.0,2.0,8.0,9.0,2.0,0.0,0.0,0.0
3796,Premier League,2019,Huddersfield,Everton,Stuart Attwell,0,1.0,13,10,1,...,0,1.0,0.0,1.0,13.0,10.0,1.0,4.0,0.0,1.0
3797,Premier League,2019,Manchester United,Burnley,Jonathan Moss,2,2.0,10,9,1,...,0,0.0,2.0,2.0,10.0,9.0,1.0,3.0,0.0,0.0
3798,Premier League,2019,Wolves,Manchester United,Mike Dean,2,1.0,5,11,1,...,0,1.0,2.0,1.0,5.0,11.0,1.0,2.0,0.0,1.0
3799,Premier League20/02/10,20am,Hull City,3,20,0,NaN,12,9,1,...,1,NaN,0.0,NaN,12.0,9.0,1.0,0.0,1.0,NaN

In [9]:
#DROP TABLE
spark.sql(
    """
    DROP TABLE IF EXISTS gold_table.premier
    """
)

DataFrame[]

In [10]:
# create gold database
spark.sql(
    """
    CREATE DATABASE IF NOT EXISTS gold_table LOCATION 'hdfs://hdfs-nn:9000/demo/gold/gold_table.db/'
    """
)

spark.sql(
    """
    CREATE EXTERNAL TABLE gold_table.premier (
    
        Div STRING,
        Team STRING,
        Date STRING,
        Total_cartoes INT,
        Total_faltas INT,
        Media_faltas DOUBLE,
        Media_cartoes_Amarelos DOUBLE,
        Media_cartoes_Vermelhos DOUBLE,
        Media_golos DOUBLE
        
    )
    USING DELTA
    LOCATION 'hdfs://hdfs-nn:9000/demo/gold/gold_table/premier/'
    """
)

AnalysisException: The specified schema does not match the existing schema at hdfs://hdfs-nn:9000/demo/gold/gold_table/premier.

== Specified ==
root
-- Div: string (nullable = true)
-- Team: string (nullable = true)
-- Date: string (nullable = true)
-- Total_cartoes: integer (nullable = true)
-- Total_faltas: integer (nullable = true)
-- Media_faltas: double (nullable = true)
-- Media_cartoes_Amarelos: double (nullable = true)
-- Media_cartoes_Vermelhos: double (nullable = true)
-- Media_golos: double (nullable = true)


== Existing ==
root
-- Div: string (nullable = true)
-- Team: string (nullable = true)
-- Date: string (nullable = true)
-- Total_faltas: integer (nullable = true)
-- Media_faltas: double (nullable = true)
-- Media_cartoes_Amarelos: double (nullable = true)
-- Media_cartoes_Vermelhos: double (nullable = true)
-- Media_golos: double (nullable = true)


== Differences==
- Specified schema has additional field(s): Total_cartoes

If your intention is to keep the existing schema, you can omit the
schema from the create table command. Otherwise please ensure that
the schema matches.

In [11]:
from pyspark.sql.functions import substring, avg, sum, round
from pyspark.sql.functions import col, concat_ws, concat, lit, desc, asc

# read data from tables in projeto.db
tabela = spark.read.format("delta").load("hdfs://hdfs-nn:9000/demo/silver/premier_league.db/deltalake_table/")


silver_table = tabela \
    .withColumn("Date", concat(lit("20"), substring(col("Date"), 7, 8)))


silver_table.show()

+--------------+-----------------+-----------------+----------------+----+----+---+---+---+---+---+---+----+
|           Div|         HomeTeam|         AwayTeam|         Referee|FTHG|FTAG| HF| AF| HY| AY| HR| AR|Date|
+--------------+-----------------+-----------------+----------------+----+----+---+---+---+---+---+---+----+
|Premier League|          Chelsea|           Bolton|     Lee Probert|   1|   0| 13| 22|  1|  4|  0|  0|2010|
|Premier League|      Aston Villa|          Everton| Martin Atkinson|   2|   2| 11|  9|  2|  2|  0|  0|2010|
|Premier League|        Tottenham|          Arsenal|Mark Clattenburg|   2|   1| 13| 10|  3|  1|  0|  0|2010|
|Premier League|   Wigan Athletic|       Portsmouth|       Mike Dean|   0|   0| 16|  9|  2|  1|  0|  0|2010|
|Premier League|       Birmingham|        Hull City|Mark Clattenburg|   0|   0| 11| 12|  0|  0|  0|  0|2010|
|Premier League|        Blackburn|          Everton|  Andre Marriner|   2|   3| 15| 10|  3|  2|  0|  0|2010|
|Premier League|           Fulham|           Wolves|       Mike Dean|   0|   0|  9| 11|  1|  0|  0|  0|2010|
|Premier League|  Manchester City|Manchester United| Martin Atkinson|   0|   1|  8| 12|  2|  1|  0|  0|2010|
|Premier League|       Stoke City|           Bolton|  Stuart Attwell|   1|   2| 10|  5|  1|  2|  0|  0|2010|
|Premier League|       Sunderland|          Burnley|     Howard Webb|   2|   1| 14| 17|  3|  2|  0|  0|2010|
|Premier League|        Tottenham|          Chelsea|       Phil Dowd|   2|   1|  7| 14|  2|  4|  0|  1|2010|
|Premier League|       Portsmouth|      Aston Villa|     Lee Probert|   1|   2|  5| 10|  0|  0|  0|  0|2010|
|Premier League|   Wigan Athletic|          Arsenal|       Lee Mason|   3|   2| 15| 13|  2|  1|  0|  0|2010|
|Premier League|        Liverpool|         West Ham|    Peter Walton|   3|   0|  8| 12|  0|  2|  0|  0|2010|
|Premier League|       Birmingham|        Blackburn|      Mike Jones|   2|   1|  8| 16|  2|  2|  0|  0|2009|
|Premier League|           Bolton|         West Ham|  Andre Marriner|   3|   1| 10|  7|  4|  1|  0|  0|2009|
|Premier League|Manchester United|           Wolves|   Steve Bennett|   3|   0| 11| 11|  1|  1|  0|  0|2009|
|Premier League|       Sunderland|      Aston Villa|    Kevin Friend|   0|   2| 16| 14|  2|  2|  1|  0|2009|
|Premier League|          Burnley|          Arsenal|       Mike Dean|   1|   1| 11| 11|  2|  0|  0|  0|2009|
|Premier League|          Chelsea|       Portsmouth|Mark Clattenburg|   2|   1| 11| 11|  0|  0|  0|  0|2009|
+--------------+-----------------+-----------------+----------------+----+----+---+---+---+---+---+---+----+
only showing top 20 rows

In [12]:
homeTeam_table = silver_table \
    .groupBy("HomeTeam", "Date") \
    .agg(
        sum(silver_table.HY).alias("SHYH"),
        sum(silver_table.HR).alias("SHRH"),
        sum(silver_table.HF).alias("SHFH"),
        avg(silver_table.FTHG).alias("FTHG"),
        avg(silver_table.HF).alias("HFH"),
        avg(silver_table.HY).alias("HYH"),
        avg(silver_table.HR).alias("HRH"),
    ) \
    .withColumnRenamed("HomeTeam", "Team") 

homeTeam_table.show(n=30)
homeTeam_table.count()

+-----------------+----+----+----+----+------------------+------------------+------------------+-------------------+
|             Team|Date|SHYH|SHRH|SHFH|              FTHG|               HFH|               HYH|                HRH|
+-----------------+----+----+----+----+------------------+------------------+------------------+-------------------+
|         West Ham|2010|  21|   0| 209|1.1666666666666667| 11.61111111111111|1.1666666666666667|                0.0|
|          Arsenal|2010|  32|   3| 225| 2.210526315789474|11.842105263157896|1.6842105263157894|0.15789473684210525|
|Manchester United|2010|  20|   0| 181|2.8947368421052633| 9.526315789473685|1.0526315789473684|                0.0|
|          Chelsea|2014|  18|   0| 195| 2.388888888888889|10.833333333333334|               1.0|                0.0|
|        Newcastle|2013|  27|   2| 231|1.5263157894736843|12.157894736842104|1.4210526315789473|0.10526315789473684|
|  Manchester City|2014|  37|   1| 213|2.3333333333333335|11.833333333333334|2.0555555555555554|0.05555555555555555|
|          Everton|2017|  34|   1| 235|              2.35|             11.75|               1.7|               0.05|
|        Liverpool|2013|  20|   0| 175|2.4444444444444446| 9.722222222222221|1.1111111111111112|                0.0|
|          Chelsea|2015|  39|   2| 221|              1.45|             11.05|              1.95|                0.1|
|        Tottenham|2017|  19|   0| 187|              2.45|              9.35|              0.95|                0.0|
|        Blackburn|2012|  14|   1| 110|               1.4|              11.0|               1.4|                0.1|
|           Wolves|2009|  14|   0| 117|               0.9|              11.7|               1.4|                0.0|
|     Huddersfield|2017|  16|   2| 104|0.9090909090909091| 9.454545454545455|1.4545454545454546|0.18181818181818182|
|       Stoke City|2015|  30|   2| 202| 1.631578947368421|10.631578947368421|1.5789473684210527|0.10526315789473684|
|      Bournemouth|2015|  15|   0|  89|1.1111111111111112|  9.88888888888889|1.6666666666666667|                0.0|
|Manchester United|2014|  32|   2| 223|               2.0|             11.15|               1.6|                0.1|
|    West Bromwich|2017|  39|   0| 246|               1.0|11.714285714285714|1.8571428571428572|                0.0|
|          Arsenal|2009|  10|   0|  85| 3.111111111111111| 9.444444444444445|1.1111111111111112|                0.0|
|  Manchester City|2016|  20|   3| 177|1.9444444444444444| 9.833333333333334|1.1111111111111112|0.16666666666666666|
|          Watford|2017|  47|   3| 247|1.1904761904761905|11.761904761904763| 2.238095238095238|0.14285714285714285|
|Manchester United|2013|  22|   1| 175|1.5555555555555556| 9.722222222222221|1.2222222222222223|0.05555555555555555|
|          Everton|2016|  28|   2| 177|1.3888888888888888| 9.833333333333334|1.5555555555555556| 0.1111111111111111|
|          Norwich|2016|  16|   0| 107|               1.5|              10.7|               1.6|                0.0|
|           Bolton|2012|  12|   0| 108|1.3333333333333333|              12.0|1.3333333333333333|                0.0|
|    West Bromwich|2015|  33|   3| 182|1.2105263157894737| 9.578947368421053| 1.736842105263158|0.15789473684210525|
|       Stoke City|2011|  32|   0| 218| 1.736842105263158|11.473684210526315|1.6842105263157894|                0.0|
|         West Ham|2017|  45|   1| 176|1.0526315789473684| 9.263157894736842|2.3684210526315788|0.05263157894736842|
|           Wolves|2018|  16|   0| 125|               1.2|              12.5|               1.6|                0.0|
|          Burnley|2019|  16|   0|  77|1.3333333333333333| 8.555555555555555|1.7777777777777777|                0.0|
|       Sunderland|2009|  21|   2| 149|               1.8|              14.9|               2.1|                0.2|
+-----------------+----+----+----+----+------------------+------------------+------------------+-------------------+
only showing top 30 rows

248

In [13]:
awayTeam_table = silver_table \
    .groupBy("AwayTeam", "Date", "Div") \
    .agg(
        sum(silver_table.HY).alias("SAYA"),
        sum(silver_table.HR).alias("SARA"),
        sum(silver_table.AF).alias("SAFA"),
        avg(silver_table.FTAG).alias("FTAG"),
        avg(silver_table.AF).alias("AFA"),
        avg(silver_table.AY).alias("AYA"),
        avg(silver_table.AR).alias("ARA"),
    ) \
    .withColumnRenamed("AwayTeam", "Team") 

awayTeam_table.show(n=30)
awayTeam_table.count()

+-----------------+----+--------------+----+----+----+------------------+------------------+------------------+-------------------+
|             Team|Date|           Div|SAYA|SARA|SAFA|              FTAG|               AFA|               AYA|                ARA|
+-----------------+----+--------------+----+----+----+------------------+------------------+------------------+-------------------+
|          Cardiff|2013|Premier League|   9|   0|  83|0.5555555555555556| 9.222222222222221|1.1111111111111112|                0.0|
|          Everton|2014|Premier League|  38|   0| 202|               1.2|              10.1|               1.7|                0.0|
|          Burnley|2019|Premier League|  10|   1|  78|1.5555555555555556| 8.666666666666666| 2.111111111111111| 0.1111111111111111|
|      Bournemouth|2016|Premier League|  34|   1| 204|1.0526315789473684|10.736842105263158| 1.631578947368421|0.10526315789473684|
|         West Ham|2015|Premier League|  27|   3| 206|               0.9|              10.3|               1.6|               0.15|
|           Fulham|2010|Premier League|  22|   1| 230|0.5789473684210527|12.105263157894736|1.4210526315789473|                0.0|
|          Chelsea|2014|Premier League|  44|   5| 199|               1.7|              9.95|              2.25|                0.2|
|Manchester United|2016|Premier League|  25|   0| 233|1.2777777777777777|12.944444444444445|2.3333333333333335|0.05555555555555555|
|  Manchester City|2017|Premier League|  42|   1| 194|               2.3|               9.7|               1.9|               0.05|
|    West Bromwich|2014|Premier League|  18|   0| 206|0.7222222222222222|11.444444444444445|1.4444444444444444|0.05555555555555555|
|           Fulham|2011|Premier League|  29|   0| 226|              0.85|              11.3|              1.75|                0.0|
|          Burnley|2010|Premier League|  15|   0| 107|               1.0| 11.88888888888889|1.7777777777777777|                0.0|
|       Sunderland|2010|Premier League|  26|   3| 243|0.8421052631578947|12.789473684210526|               2.0| 0.3684210526315789|
|  Manchester City|2019|Premier League|  11|   0|  77| 2.111111111111111| 8.555555555555555|1.2222222222222223|                0.0|
|    West Bromwich|2017|Premier League|  25|   2| 222| 0.631578947368421| 11.68421052631579|2.1052631578947367|0.05263157894736842|
|          Everton|2015|Premier League|  35|   0| 199|1.1666666666666667|11.055555555555555|1.7777777777777777| 0.2222222222222222|
|     Swansea City|2013|Premier League|  31|   0| 192|0.7894736842105263|10.105263157894736|1.7894736842105263|0.05263157894736842|
|  Manchester City|2010|Premier League|  27|   4| 234|1.8421052631578947| 12.31578947368421|2.1052631578947367|0.05263157894736842|
|         West Ham|2014|Premier League|  24|   1| 219| 1.263157894736842|11.526315789473685|               2.0|0.10526315789473684|
|      Aston Villa|2011|Premier League|  33|   2| 229|               1.4|             11.45|               2.3|               0.05|
|       Stoke City|2018|Premier League|  10|   0| 115|             0.625|            14.375|             2.125|                0.0|
|       Sunderland|2012|Premier League|  18|   3| 208|               1.0|              10.4|               1.5|                0.1|
|          Norwich|2014|Premier League|  10|   0| 123|               0.5|              12.3|               2.4|                0.1|
|      Bournemouth|2018|Premier League|  40|   3| 153|1.3157894736842106| 8.052631578947368|0.9473684210526315|                0.0|
|          Reading|2013|Premier League|  11|   0|  88|1.4444444444444444| 9.777777777777779|1.3333333333333333|                0.0|
|   Crystal Palace|2014|Premier League|  29|   1| 242|1.0526315789473684|12.736842105263158|               2.0|0.05263157894736842|
|        Tottenham|2017|Premier League|  45|   1| 217|              2.15|             10.85|               1.6|                0.1|
|        Tottenham|2014|Premier League|  34|   4| 216|1.4210526315789473|11.368421052631579|2.0526315789473686|0.21052631578947367|
|     Swansea City|2016|Premier League|  24|   1| 219|1.1578947368421053|11.526315789473685|1.3157894736842106|                0.0|
|Manchester United|2011|Premier League|  31|   0| 193|               1.8|              9.65|               1.6|                0.1|
+-----------------+----+--------------+----+----+----+------------------+------------------+------------------+-------------------+
only showing top 30 rows

248

In [14]:
#join of the two dataFrames
join_table = homeTeam_table.join(awayTeam_table,['Team', 'Date'], how='left') \
    .withColumnRenamed("Team", "Equipa") \
    .withColumnRenamed("Div", "Liga") \
    .withColumnRenamed("Date", "Data") \
    .orderBy("Date") \
    .withColumn("Media_golos", round(((col("FTAG") + col("FTHG"))/2), 2)) \
    .withColumn("Media_faltas", round(((col("HFH") + col("AFA"))/2), 2)) \
    .withColumn("Media_cartoes_amarelos", round(((col("HYH") + col("AYA"))/2), 2)) \
    .withColumn("Media_cartoes_vermelhos", round(((col("HRH") + col("ARA"))/2), 2)) \
    .withColumn("Total_faltas", round((col("SHFH") + col("SAFA")),2)) \
    .withColumn("Total_cartoes", round((col("SHYH") + col("SAYA") + col("SHRH") + col ("SARA")),2)) \
    .select("Liga","Equipa","Data","Total_cartoes","Total_faltas","Media_faltas","Media_cartoes_Amarelos","Media_cartoes_Vermelhos","Media_golos")


#WRITE TO DELTA TABLE
join_table \
    .write \
    .format("delta") \
    .option("overwriteSchema", "true") \
    .mode("overwrite") \
    .save("hdfs://hdfs-nn:9000/demo/gold/gold_table.db/premier/")



join_table.show()
join_table.count()

22/01/16 17:55:08 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:55:08 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:55:08 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:55:08 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/01/16 17:55:08 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

+--------------+-----------------+----+-------------+------------+------------+----------------------+-----------------------+-----------+
|          Liga|           Equipa|Data|Total_cartoes|Total_faltas|Media_faltas|Media_cartoes_Amarelos|Media_cartoes_Vermelhos|Media_golos|
+--------------+-----------------+----+-------------+------------+------------+----------------------+-----------------------+-----------+
|Premier League|      Aston Villa|2009|           31|         278|        13.9|                  1.95|                    0.1|       1.45|
|Premier League|  Manchester City|2009|           32|         209|       11.07|                   1.3|                    0.1|       2.02|
|Premier League|         West Ham|2009|           41|         251|       12.55|                   2.1|                   0.15|        1.4|
|Premier League|          Everton|2009|           21|         239|        12.7|                  1.61|                   0.05|       1.37|
|Premier League|       Stoke City|2009|           22|         244|       12.89|                  1.99|                   0.05|       0.81|
|Premier League|          Burnley|2009|           24|         224|        11.2|                  1.45|                    0.1|        1.1|
|Premier League|        Tottenham|2009|           32|         222|        11.1|                  1.55|                   0.05|        2.1|
|Premier League|Manchester United|2009|           30|         229|       11.45|                  1.55|                    0.1|       2.25|
|Premier League|           Fulham|2009|           22|         211|       11.13|                  1.22|                   0.06|       1.25|
|Premier League|           Bolton|2009|           37|         248|       13.98|                  2.14|                    0.1|       1.43|
|Premier League|   Wigan Athletic|2009|           26|         235|       12.36|                  1.42|                    0.0|       1.11|
|Premier League|          Chelsea|2009|           24|         223|       11.15|                   1.4|                    0.1|       2.25|
|Premier League|       Portsmouth|2009|           38|         284|        14.2|                   2.1|                    0.1|        0.9|
|Premier League|        Liverpool|2009|           34|         250|        12.5|                   1.3|                    0.2|       1.85|
|Premier League|           Wolves|2009|           18|         254|        12.7|                   1.9|                    0.1|       0.85|
|Premier League|        Blackburn|2009|           27|         273|       13.65|                  1.55|                   0.05|        1.0|
|Premier League|       Sunderland|2009|           35|         284|        14.2|                   2.2|                    0.2|        1.4|
|Premier League|       Birmingham|2009|           28|         193|        9.65|                  1.75|                   0.05|        1.0|
|Premier League|          Arsenal|2009|           35|         206|       10.77|                  1.41|                    0.0|       2.71|
|Premier League|        Hull City|2009|           25|         288|        14.4|                  1.95|                    0.1|        1.0|
+--------------+-----------------+----+-------------+------------+------------+----------------------+-----------------------+-----------+
only showing top 20 rows

248

In [15]:
spark.sql(     """     GENERATE symlink_format_manifest FOR TABLE delta. `hdfs://hdfs-nn:9000/demo/gold/gold_table.db/premier/`     """ ).show()

++
||
++
++

In [19]:
spark.sql("""
DROP TABLE IF EXISTS gold_table.premier_presto
""").show()

spark.sql(
    """
    CREATE EXTERNAL TABLE gold_table.premier_presto (
    
        Liga STRING,
        Equipa STRING,
        Data STRING,
        Total_cartoes INT,
        Total_faltas INT,
        Media_faltas DOUBLE,
        Media_cartoes_Amarelos DOUBLE,
        Media_cartoes_Vermelhos DOUBLE,
        Media_golos DOUBLE
        )
         
        
ROW FORMAT SERDE 'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
STORED AS INPUTFORMAT 'org.apache.hadoop.hive.ql.io.SymlinkTextInputFormat'
OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
LOCATION 'hdfs://hdfs-nn:9000/demo/gold/gold_table.db/premier/_symlink_format_manifest/'
""").show()

++
||
++
++

++
||
++
++

22/01/16 17:57:27 WARN DataSource: All paths were ignored:
  hdfs://hdfs-nn:9000/demo/gold/gold_table.db/premier/_symlink_format_manifest

In [17]:
spark.sql(     """     GENERATE symlink_format_manifest FOR TABLE delta. `hdfs://hdfs-nn:9000/demo/gold/UC1_gl.db/premier/`     """ ).show()

++
||
++
++

In [18]:
spark.sql("""
DROP TABLE IF EXISTS UC1_gl.premier_presto
""").show()

spark.sql(
"""
CREATE EXTERNAL TABLE UC1_gl.premier_presto (
    Div CHAR(10),
    Date CHAR(50),
    HomeTeam CHAR(100),
    AwayTeam CHAR(100),
    Referee CHAR(100),
    FullTimeH_Goals INT,
    FullTimeH_Goals_Avg DOUBLE,
    FullTimeA_Goals INT,
    FullTimeA_Goals_Avg DOUBLE,
    HomeFouls INT,
    HomeFouls_Avg DOUBLE,
    AwayFouls INT,
    AwayFouls_Avg DOUBLE,
    HomeYellowC INT,
    HomeYellowC_Avg DOUBLE,
    AwayYellowC INT,
    AwayYellowC_Avg DOUBLE,
    HomeRedC INT,
    HomeRedC_Avg DOUBLE,
    AwayRedC INT,
    AwayRedC_Avg DOUBLE
    )
    
        
ROW FORMAT SERDE 'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
STORED AS INPUTFORMAT 'org.apache.hadoop.hive.ql.io.SymlinkTextInputFormat'
OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
LOCATION 'hdfs://hdfs-nn:9000/demo/gold/UC1_gl.db/premier/_symlink_format_manifest/'
""").show()

++
||
++
++

++
||
++
++